<div class="row">
  <div class="col s12">
    <p>
      Refeicoes realizadas
    </p>
    <div class="row">
      <div class="col s2">
        <button class="waves-effect waves-light btn" (click)="buscarConsumo()"><i class="material-icons left">search</i></button>
      </div>
    </div>
    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th> Horário</th>
          <th> Usuário</th>
          <th> Classe</th>
          <th> Tipo da Refeição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consumo of consumos">
          <td>
            {{ consumo.horario | date:'dd-MM-yyyy HH:MM:ss' }}
          </td>
          <td>
            {{ consumo.usuario.nome}}
          </td>
          <td>
            {{ consumo.classe.nome}}
          </td>
          <td>
            {{ consumo.tipo_refeicao.nome}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
